/* il vertical-align può essere dato solo agli elementi block o inline-block */

*{
  box-sizing: border-box;
}

body{
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}

.contanier{
  width: 800px;
  margin: auto;
}

/* Inizio header */
.logo{
  height: 90px;
  vertical-align: middle;
}
.mail{
  color: white;
  font-size: 25px;
}
hr{
  color: white;
}

.search{
  padding-left: 5px;
}

.unread{
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 5px;
}

/* la width e la height non possono essere date allo span */
.numero{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  vertical-align: middle;
  text-align: center;
}
/* / header */

/* Inizio main */
.row{
  border: 1px solid black;
  background-color: lightgrey;
  padding: 5px 0;
}

.text-right{
  color: grey;
}

.row.read{
  background-color: white;
}
/* / main */

/* Inizio footer */
footer{
    color: white;
    text-align: center;
}
footer > span{
  font-size: 25px;
}
/* / footer */
